#profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-actions-section{
    display: flex;
    flex-direction: row;
    align-items: right;
}

#profile-button {
    margin: 8%;
}