#startup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startup-form {
    width: 40%;
}

#startup-submit {
    border-radius: 0 5px 5px 0;
    float: right;
    margin-right: 2%;
}

#startup-input {
    width: 60%;
    margin-left: 2%;
}

