/* Tags */

/* Classes */

/* IDs */
#translation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#translation-result-section {
    border: solid gray 2px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding: 10px;
}

#translation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#translation-list img {
    max-width: 55px;
}

#translation-form-section {
    width: 60%;
}

#translation-submit {
    padding: 1%;
    border-radius: 0 5px 5px 0;
}

#translation-input {
    padding: 1%;
    border-radius: 5px 0 0 5px;
    width: 45%;
}