nav {
  background-color: #494949;
  color: white;
}

button {
  background-color: #6cc551;
  border-radius: 5px;
}

html {
  background-color: #F2EFEA;
}

#nav-link {
  color: #f5f5f5;
}

#nav-title {
  font-size: xx-large;
}

#nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#link-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10%;
}

#nav-box {
  margin:10%;
}
